<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="javascript:;" th:href="@{/}">Contas</a>
  
        </div>
    </nav>
  </header>
  <section class="mt-5 w-25">
    <div class="container">
        <form #frm="ngForm" (ngSubmit)="criar(frm)">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" 
          class="form-control" placeholder="Nome"
          [(ngModel)]="conta.nome" required/>
        </div>
        <div class="form-group">
          <label for="cpf">CPF</label>
          <input type="text" id="cpf" name="cpf"
           class="form-control" placeholder="000.000.000-00"
           [(ngModel)]="conta.cpf" required/>
        </div>
        <div class="form-group">
            <label for="saldo">Saldo</label>
            <input type="number" id="saldo" name="saldo"
             class="form-control" placeholder="0.00"
             [(ngModel)]="conta.saldo" required/>
          </div>
        <button type="submit" class="btn btn-success" [disabled]="!frm.form.valid">Nova Conta</button>
        </form>
    </div>
  </section>

<div>
    <section class="mt-5">
        <div class="container">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead class="thead-light text-center">
                <tr>
                  <th>Numero Conta</th>
    
                  <th class="w-50">Nome</th>
    
                  <th class="w-25">Saldo</th>
                </tr>
              </thead>
    
              <tbody>
                <tr *ngFor="let conta of contas">
                  <td class="text-center w-25">{{conta.id}}</td>
    
                  <td class="text-center">{{conta.nome}}</td>
    
                  <td class="text-center">{{conta.saldo}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
</div>
