<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="javascript:;" th:href="@{/}">Contas</a>
  
        </div>
    </nav>
  </header>

<div>
    <section class="mt-5">
        <div class="container">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead class="thead-light text-center">
                <tr>
                  <th>Numero Conta</th>
    
                  <th class="w-50">Nome</th>
    
                  <th class="w-25">Saldo</th>
                </tr>
              </thead>
    
              <tbody>
                <tr *ngFor="let conta of contas">
                  <td class="text-center w-25">{{conta.id}}</td>
    
                  <td class="text-center">{{conta.nome}}</td>
    
                  <td class="text-center">{{conta.saldo}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
</div>
